* {
    margin: 0;
    padding: 0;

}

.top-banner,
.player-part,
.footer-sec,
.tbl,
.budget {
    background-color: black !important;

}

.banner-heading {
    color: #FF5E19;
    font-family: Berkshire Swash;
    font-size: medium;
}